{% include "_header.html" %}

     <form method="POST" action="/api-login" id="loginForm">
        <input id="userEmail" name="user_email" type="text" placeholder="email" data-regex="{{x.REGEX_USER_EMAIL}}">
        <input id="userPassword" name="user_password" type="text" placeholder="password" data-regex="{{x.REGEX_USER_PASSWORD}}" data-min="{{x.USER_PASSWORD_MIN}}" data-max="{{x.USER_PASSWORD_MAX}}">
        <button>
            Login
        </button>
    </form>


    <li id="loginErrors">
        
    </li>
{% include "_footer.html" %}
