{% include "_header.html" %}
<main>
    <form mix-post="/api-create-travel" autocomplete="off">
        <div>
            <label for="">
                Title <span>{{ x.TRAVEL_TITLE_MIN }} to {{ x.TRAVEL_TITLE_MAX }} characters</span>
            </label>
            <input name="travel_title" type="text" placeholder="Title for your travel destination" value=""
                mix-validate="{{x.REGEX_TRAVEL_TITLE}}">
        </div>

        <div>
            <label for="">
                City name <span>{{ x.CITY_NAME_MIN }} to {{ x.CITY_NAME_MAX }} characters</span>
            </label>
            <input name="city_name" type="text" placeholder="City name" value="" mix-validate="{{x.REGEX_CITY_NAME}}">
        </div>

        <div>
            <label for="">
                Region <span>{{ x.CITY_REGION_MIN }} to {{ x.CITY_REGION_MAX }} characters</span>
            </label>
            <input name="city_region" type="text" placeholder="Region" value="" mix-validate="{{x.REGEX_CITY_REGION}}">
        </div>

        <div>
            <label for="">
                Country
            </label>
            <input name="country_name" type="text" placeholder="Country name" value=""
                mix-validate="{{x.REGEX_COUNTRY_NAME}}">
        </div>

        <div>
            <label for="">
                Date from:
            </label>
            <input type="date" name="travel_time_from" id="travel_time_to" />
        </div>

        <div>
            <label for="">
                Date to:
            </label>
            <input type="date" id="start" name="travel_time_to"  />
        </div>

        <div>
            <label for="">
                Travel description
            </label>
            <input name="travel_description" type="text" placeholder="Country name" value=""
                mix-validate="{{x.REGEX_TRAVEL_DESCRIPTION}}">
        </div>



        <button>
            Signup
        </button>
    </form>

</main>


{% include "_footer.html" %}